span.but, span.but_f, span.but_k, span.but_cx, span.but_b, span.reg, span.op_f, span.op_k {
	border:thin solid black;
	border-radius:4px;
	display:inline-block;
	font-size:1.1em;
	font-weight:bold;
	font-family:monospace;
/*	max-height:1.2em;
	vertical-align:text-top;*/
	text-align:center;
	min-width:2.3em;
	white-space:nowrap;
}

span.but {
	background-color:#CCCCCC;
	color:black;
}

span.but_f {
	background-color:#F5E345;
	color:black;
}

span.but_k {
	background-color:LightSkyBlue;
	color:white;
}

span.but_cx {
	background-color:#F00505;
	color:white;
}

span.but_b {
	background-color:black;
	color:white;
}

span.reg {
	background-color:black;
	color:white;
}

span.op_f {
	background-color:black;
	color:yellow;
}

span.op_k {
	background-color:black;
	color:#00BFFF;
}

.code {
	background-color:#103810;
	color:#77FF77;
	font-size:1.1em;
	font-family:monospace;
	font-weight:bold;
	padding:1px 2px 1px 2px;
	white-space:pre;
}

sup {
	line-height:0;
}
